[user]
	email = justin.flammia@datadoghq.com
[url "git@github.com:"]
    insteadOf = https://github.com/
[include]
	path = /Users/justin.flammia/.config/gitsign/gitconfig
[pull]
	rebase = true
[fetch]
	prune = true
[push]
	autoSetupRemote = true
[log]
	follow = true
[core]
	hooksPath = /usr/local/dd/global_hooks
	editor = nvim
[maintenance]
	repo = /Users/justin.flammia/go/src/github.com/DataDog/dd-source
[commit]
	gpgsign = true
[rebase]
	autoStash = true
